<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="container ">
    <h2>ADD BOOKS</h2>
    <form #bookDetails="ngForm" (ngSubmit)="onClickSubmit(bookDetails.value)">
      <div class="form-group">
        <label>Slno : </label>
        <input type="text" class="form-control" name="Slno" placeholder="Slno" [(ngModel)]="Slno">
      </div>
      <div class="form-group">
        <label for="Book-Name">Book Name : </label>
        <input type="text" class="form-control" name="bookName" placeholder="Book Name" [(ngModel)]="bookname">
      </div>
      <div class="form-group">
        <label for="Author-Name">Author-Name: </label>
        <input type="text" class="form-control" name="authorName" placeholder="Author Name" [(ngModel)]="authorname">
      </div>
      <div class="form-group">
        <label for="Description">Description : </label>
        <input type="text" class="form-control" name="description" placeholder="Description" [(ngModel)]="description">
      </div>
      <input class="btn btn-success" type="submit" value="submit">
    </form>
  </div>
  <div *ngIf="bookAdded" class="container">
    <p>Your book added successfuly !</p>
  </div>


</body>

</html>