<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
  crossorigin='anonymous'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="maindiv ">
        <div class="subdiv">
          <div (click)="onSelect()"><button>{{parentData.Slno}}</button></div>
          <div (click)="onSelect()"><button >{{parentData.bookName}}</button></div>
          <div><button (click)="toUpdate()"><i class='far fa-edit'></i></button></div>
          <div><button (click)="toDelete(i)"><i class="fa fa-trash"></i></button></div>
        </div>
      </div>
  
</body>
</html> 